<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="csrf-token" content={get_csrf_token()} />
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Sketchpad2!</title>
    <!-- <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"> -->
  </head>

  <body>
    <div class="container">
      <p class="alert alert-info" role="alert"><%= Phoenix.Flash.get(@flash, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= Phoenix.Flash.get(@flash, :error) %></p>

      <main role="main">
        <%= @inner_content %>
      </main>

    </div> <!-- /container -->
    <script>
     window.username = "<%= assigns[:user_id] %>"
     window.userToken = "<%= assigns[:user_token] %>"
    </script>
    <script src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
