<.form for={@conn} action={~p"/signin"} as={:user} id="login-form">
  <.input field={@form[:username]} type="text" placeholder="Username..." id="username-input" />
  <.button type="submit">Sketch</.button>
</.form>
